@CHARSET "ISO-8859-1";
body {
  font-family: Helvetica, sans-serif;
}
.pre-auth, .post-auth {
  display: none;
}
#chart {
  width: 500px;
  height: 300px;
  margin-bottom: 1em;
}
#video-list {
  padding-left: 1em;
  list-style-type: none;
}
#video-list > li {
  cursor: pointer;
}
#video-list > li:hover {
  color: blue;
}