body
{
	color: #532;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #121212;
	border: 0px solid;
}

#page
{
	margin-top: 0px;
	margin-bottom: 5px;
	background: #999;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
    background:#F0EFEF;
}

#main
{
	display:inline-block;
	width:942px;
	z-index:1000;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 10px 4px;
	position:fixed !important;
	background: transparent url(../images/webinarTopShadow.png) center bottom repeat;
}

#main li, #main a
{
	margin-right: 20px;
	list-style: none;
	display: inline;
	padding-left: 20px;
	text-decoration: none;
	background-repeat: no-repeat;
	font-family: "calibre-1", "calibre-2", helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #123;
	text-transform: uppercase;
}

#main li:hover, #main a:hover
{	
	color: #13A;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}
#footer
{
	display:inline-block;
	width:942px;
	overflow: hidden;
	margin: 10px 0px 0px 0px;
	padding: 10px 4px;
	background-color: #999;
}

#footer li, #footer a
{
	margin-right:20px;
	list-style: none;
	display: inline;
	padding-left: 20px;
	text-decoration: none;
	background-repeat: no-repeat;
	font-family: serif;
	font-weight: bold;
	font-size: 14px;
	color: #123;
}

#footer li:hover, #footer a:hover
{	
	color: #13A;
}
div.video-content
{
	-moz-box-shadow: 3px 3px 5px 6px #DDD;    
	-webkit-box-shadow: 3px 3px 5px 6px #DDD;    
	box-shadow: 3px 3px 5px 6px #DDD;
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
	margin-top:0px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	.padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

.operations li a:hover
{
	background: #80CFFF;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.a-image
{
	background:black;
}
.description
{
	clear:both;
	position:absolute;
	display:inline-block;
	padding-left: 20px;
	height:120px;
	width:500px;
}
.div-PlayImage
{
	position: absolute;
	z-index: 1001;
	width: 25px;
	display: inline-block;
	height: 19px;
	margin: 94px -30px;
}
.div-PlayImage img
{
	width:26px;
	height:23px;
	bottom:0px;
}