<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/Werefa/protected/views/site/error.php" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>