<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/protected/views/site/error.php" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/protected/views/site/error.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
